<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dynamicdrillers.collegenoticeboard">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ShowNoticeByType"
            android:parentActivityName=".FacultyDashboard" />
        <activity
            android:name=".NoticePostShow"
            android:parentActivityName=".FacultyDashboard" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".FacultyDashboard" />
        <activity
            android:name=".HodRgistrationActivity"
            android:parentActivityName=".HodList" />
        <activity
            android:name=".StudentList"
            android:parentActivityName=".FacultyDashboard" />
        <activity
            android:name=".YourNotices"
            android:parentActivityName=".FacultyDashboard" />
        <activity
            android:name=".EditProfile"
            android:parentActivityName=".FacultyDashboard" />
        <activity
            android:name=".AboutApp"
            android:parentActivityName=".FacultyDashboard" />
        <activity
            android:name=".FeedBack"
            android:parentActivityName=".FacultyDashboard" />
        <activity
            android:name=".HodList"
            android:parentActivityName=".FacultyDashboard" />
        <activity
            android:name=".FacultyList"
            android:parentActivityName=".FacultyList" />
        <activity
            android:name=".StudentRegistrationActivity"
            android:parentActivityName=".StudentList" />
        <activity android:name=".StudentProfileActivity" />
        <activity android:name=".AddNotice"></activity>
        <activity android:name=".FacultyDashboard"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".AdminRegistrationActivity"></activity>
        <activity android:name=".AdminRegCollegeActivity"></activity>
        <activity android:name=".AdminRegImgActivity"></activity>

        <activity android:name=".EditStudentProActivity" />
        <activity android:name=".UpdateProImgActivity"></activity>
    </application>

</manifest>